.links {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 10px;
}

.github-link,
.codepen-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-top: 3.5px;
    padding-left: 0.5px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.github-link a,
.codepen-link a {
    color: #000;
    font-size: 25px;
    font-weight: normal;
}

.github-link a:hover,
.codepen-link a:hover {
    color: #333333;
}