@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color: #9AB980;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #FFF;
    width: 550px;
    min-width: 370px;
    padding: 50px 10px;
    border-radius: 8px;
}

.container-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.section {
    width: 210px;
}

.section-result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clipboard-tooltip {
    position: absolute;
    bottom: 36%;
    width: 170px;
    margin-left: -75px;
    padding: 5px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip-rgb {
    left: 38.25%;
}

#tooltip-hex {
    left: 90%;
}

.clipboard-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
}

.icon-clipboard:hover .clipboard-tooltip {
    visibility: visible;
    opacity: 1;
}

.icon,
.icon-clipboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
}

.icon-animation-rgb {
    animation: spin-rgb 0.5s ease-in-out;
}

.icon-animation-hex {
    animation: spin-hex 0.5s ease-in-out;
}

@keyframes spin-rgb {
    from {
        transform: rotate(0deg) translateY(0);
    }

    to {
        transform: rotate(-180deg) translateY(2px);
    }
}

@keyframes spin-hex {
    from {
        transform: rotate(0deg) translateY(0);
    }

    to {
        transform: rotate(180deg) translateY(2px);
    }
}

label {
    font-weight: 600;
}

input {
    width: 100%;
    padding: 5px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #333333;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}

@media screen and (max-width: 650px) {
    .container {
        width: 80%;
    }

    .container-body {
        flex-direction: column;
        gap: 10px;
    }

    .section {
        width: 250px;
    }

    #icon {
        transform: rotate(90deg);
    }

    @keyframes spin-rgb {
        from {
            transform: rotate(90deg) translateX(0);
        }

        to {
            transform: rotate(-90deg) translateX(2px);
        }
    }

    @keyframes spin-hex {
        from {
            transform: rotate(90deg) translateX(0);
        }

        to {
            transform: rotate(270deg) translateX(2px);
        }
    }
}